html, body { margin: 0; }
.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* mediaquery by rana */

.myCard{
  width: 480px;
  height: auto;
  background-color: #c0d1cf;
  margin-top: 50px;
  text-align: center;
  justify-content: center;
  display: flex;

}

.myServiceCard{
  width: 480px;
  height: 670px;
  background-color: #c0d1cf;
  margin-top: 50px;
  text-align: center;
  justify-content: center;
  display: flex;
}
.inputQuant{
  width: 180px;
}
.mTitle{
  width: 140px;
}

.inputWi{
  width: 280px;
}

@media( 720px >= width){
  .myCard {
    width: 240px;
    height: auto;
  }
  .myServiceCard{
    width: 250px;
    height: auto;
  }
  .inputWi{
    width: 180px;
  }
  .mTitle{
    width: 100px;
  }
  .inputQuant{
    width: 80px;
  }

}


