# For BackEnd

FastSMS/env
FastSMS/venv
FastSMS/__pycache__
FastSMS/app/__pycache__
.idea
 __pycache__/
 *.pyc

#For FrontEnd
# NextAPP/.next

react-front/node_modules
react-front/.npm
react-front/.gitt